# .NET build output
bin/
obj/

# Visual Studio / Rider
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.rsuser
.idea/

# Python
Assets/Scripts/venv/
Assets/Binaries/analyze_bpm.exe
Assets/Binaries/analyze_key.exe
build/
*.spec


build_release.bat

# OS junk
Thumbs.db
desktop.ini
.DS_Store
bass24/
test/